div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

h1.center-title{
    text-align: center;
}
h1.LeaderboardTitle{
    text-align: center;
    text-shadow: 10px;
}

fieldset.group{
    width: 80%;
    margin:auto;
}

.column {
    float: left;
    width: 8%;
    padding:2px;
  }
.rank{
    float: left;
    width: 3%;
    padding: 2px;
}

.Leaderboard{
    margin-left: auto;
    margin-right: auto;
}

table.Leaderboard th{
    font-size: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

table.Leaderboard td{
    text-align: center;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}