div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

h1.center-title{
    text-align: center;
}

.column {
    float: left;
    width: 8%;
    padding:2px;
  }
.rank{
    float: left;
    width: 3%;
    padding: 2px;
}

.Leaderboard{
    border:1px solid black
}

table.Leaderboard th{
    border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}