{% extends "derby/base.html" %}
{% block title %}All Cars{% endblock %}
{% block content %}
<h1 class="center-title">
    <u><b>All Cars</b></u>
</h1>

<table class="Leaderboard">
    <tr>
        <th>Number</th>
        <th>Group</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Picture</th>
    </tr>
    {% for car in cars %}
    <tr>
        <td>
            {{car.number}}
        </td>
        <td>
            {{car.group.name}}
        </td>
        <td>
            {{car.name}}
        </td>
        <td>
            {{car.owner}}
        </td>
        <td>{% if car.picture %}
            <img src=" /{{car.picture}}" height="60">
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}