{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="{% static 'derby/style.css' %}" />
    <link rel="shortcut icon" href="{%  static 'derby/favicon.ico' %}">
</head>
<script src="{% static 'derby/jquery3.6.js' %}"></script>
<body>
    {% block content %}{% endblock %}
</body>

</html>