{% extends "derby/base.html" %}
{% block title %}Current Heat{% endblock %}
{% block content %}
<script>
function stringFromTimeMs(timeMilliseconds){
    return (timeMilliseconds / 1000).toFixed(2)
}
function placeTime(where, timeMilliseconds){
    if (isNaN(timeMilliseconds))
       return; 
    $(where).html(stringFromTimeMs(timeMilliseconds))
}

 var timer = setInterval(function () {
    $.ajax({dataType: "json", url: "/derby/heatData"}).done(function( data ) {
        displayTime = "Time:" + stringFromTimeMs(data.time);
        $( "h3.time").html( displayTime);
        {% for result in results %}
            placeTime("td.time#{{result.lane.number}}", data["{{result.lane.number}}"])
        {% endfor %}
        if (data.finished){
            clearInterval(timer)
            $( "h3.time").html( "Finished" );
            setTimeout(function () {
                window.location = '/derby/{{ heat.group.id }}/audience/?next={{next}}'
            }, {{ timeout }});
        }
  })        
    }, {{ interval }});
</script>

<center>
<H1>Heat {{heat.number}} of {{totalHeats}}</H1>
<H2>{{heat.group.name}}</H2>
<H3 class="time">Not Started</H3>
</center>
<table class="Leaderboard">
<tr><th>Lane</th><th>Time</th><th>Name</th><th>Owner</th><th>Picture</th></tr>
 {% for result in results %}
<tr><td>{{result.lane.number}}</td>
    <td class="time" id="{{result.lane.number}}">---</td>
    <td>{{result.car.name}}</td>
    <td>{{result.car.owner}}</td>
    <td>{% if result.car.picture %}
            <img src=" /{{result.car.picture}}" height="75">
        {% endif %}</td>
</tr>
 {% endfor %}
</table>
{% endblock %}