{% extends "derby/base.html" %}
{% block title %}Current Heat{% endblock %}
{% block content %}
<center>
<H1>Heat {{heat.number}} of {{totalHeats}}</H1>
<H2>{{heat.group.name}}</H2>
<H3 class="time">Not Started</H3>
</center>
<table>
<tr><th>Lane</th><th>Time</th><th>Name</th><th>Owner</th><th>Picture</th></tr>
 {% for result in results %}
<tr><td>{{result.lane.number}}</td>
    <td class="time" id="{{result.lane.number}}">---</td>
    <td>{{result.car.name}}</td>
    <td>{{result.car.owner}}</td>
    <td>{% if result.car.picture %}
            <img src=" /{{result.car.picture}}" height="75">
        {% endif %}</td>
</tr>
 {% endfor %}
</table>
{% endblock %}