{% extends "derby/base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
<h1 class="center-title">
    <u><b>Leaderboard</b></u>
</h1>

<table>
    <tr>
        <td>
            <div>
                <h2><u>Rank</u></h2>
            </div>
        </td>
        <td>
            <div>
                <h2><u>Car Name</u></h2>
            </div>
        </td>
        <td>
            <div>
                <h2><u>Owner Name</u></h2>
            </div>
        </td>
        <td>
            <div>
                <h2><u>Car Picture</u></h2>
            </div>
        </td>
    </tr>
    <tr>
            <td style=>
                Hi
            </td>
            <td>
                This
            </td>
            <td>
                Table
            </td>
        </tr>
</table>

{% endblock %}