{% extends "derby/base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
{% if audience %}
<script>
    var timer = setTimeout(function () {
        window.location = '/derby/{{ group.id }}/audience/?next={{next}}'
    }, {{ timeout }});
</script>
{% endif %}
<h1 class="LeaderboardTitle">
    Leaderboard: {{ group.name }}<br />
</h1>

<table class="Leaderboard">
    <tr class="header">
        <th></th>
        <th>Name</th>
        <th>Owner</th>
        <th>Picture</th>
        <th>Time</th>
    </tr>
    {% for carTime in cars %}
    <tr>
        <td>
            {{forloop.counter}}.
        </td>
        <td>
            {{carTime.car.name}}
        </td>
        <td>
            {{carTime.car.owner}}
        </td>
        <td>{% if carTime.car.picture %}
            <img src="/{{carTime.car.picture}}" width="100">
            {% endif %}
        </td>
        <td>
            {% if carTime.fastestTime %}
            {{carTime.fastestTime.total_seconds }}
            {% else %}
            ---
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}