{% extends "derby/base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
<h1 class="center-title">
    <u><b>Leaderboard</b></u>
</h1>

<table class="Leaderboard">
    <tr>
        <th>Rank</th>
        <th>Car Name</th>
        <th>Owner Name</th>
        <th>Picture</th>
        <th>Speed</th>
    </tr>
    <tr>
            <td>1.</td>
            <td>Wabbit</td>
           <td>Joshua</td>
            <td><img src="Wabbit.jpg" alt="Pic of Wabbit" width="50" height="60"></td>
            <td>00:42.42</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Wabbit</td>
           <td>Joshua</td>
            <td><img src="Wabbit.jpg" alt="Pic of Wabbit" width="50" height="60"></td>
            <td>00:45.42</td>
        </tr>
</table>

{% endblock %}