{% extends "derby/base.html" %}
{% block title %}Derby Software{% endblock %}
{% block content %}

<H1><A HREF="register">Register Cars</A></H1>

{% for group in groups %}
<fieldset class="group" style="border: 1px {{group.color}} solid;">
   <legend>{{group.name}}</legend>
   <UL>
      <LI><A HREF="{{group.id}}/start/">Start</A></LI>
      <LI><A HREF="{{group.id}}/audience/">Audience</A></LI>
      <LI><A HREF="{{group.id}}/leaderboard/">Leaderboard</A></LI>
      <LI><A HREF="{{group.id}}/remainingHeats/">Remaining Heats</A></LI>
   </UL>
</fieldset><br/>
{% endfor %}

<H1><A HREF="allCars">All Cars</A></H1>

{% endblock %}