{% load static %}
<html>
    <head>
        <title>Derby Registration</title>
        <link rel="stylesheet" type="text/css" href="{% static 'derby/style.css' %}"/>
    </head>
    <body>
        <h1>Derby Registration</h1>
        <form>
                <div class="settings">
                <label for="group">Choose a group</label>
                <select id="group" name="group">
                    <option value="ranger_kids">Ranger kids</option>
                    <option value="discovery">discovery</option>
                    <option value="adventure">adventure</option>
                    <option value="open">open</option>
                </select> 

                <label for="oname">Owner name</label>
                <input type="text" id="oname" name="oname" placeholder="Whose car"/>
   
                <label for="cname">Car name</label>
                <input type="text" id="cname" name="cname" placeholder="What is the car's name"/>
   
                <label for="photo">photo of the car</label>
                <input name="photo" type="file" accept="image/*"/>   
         
                <input type="submit">    
                </div>
        </form>
    </body>
</html>